<div class="container">
  <h3 style="margin-bottom: 20px;"><span class="head-text">ジャンル編集</span></h3>
	<div class="row">
		<div class="col-lg-12">
		  <%= form_with(model: @genre, url: admin_genre_path, method: :patch,
		  		local: true) do |f| %>
		  <%= f.label :ジャンル %>
		  <%= f.text_field :name %>
		  <label><%= f.radio_button :is_active,  "有効" %> 有効</label>
		  <label><%= f.radio_button :is_active,  "無効" %> 無効</label>
		  <%= f.submit '変更保存する', class:"btn btn-primary", style:"padding: 5px 40px;" %>
		  <% end %>
		</div>
	</div>
</div>
