<h1>ジャンル一覧追加</h1>
<div>
  <%= form_with(model: @genre, url: admin_genre_path, method: :patch, local: true) do |f| %>
  <%= f.label :ジャンル %>
  <%= f.text_field :name %>
  <label><%= f.radio_button :is_active,  "有効" %> 有効</label>
  <label><%= f.radio_button :is_active,  "無効" %> 無効</label>
  <%= f.submit '変更保存する' %>
  <% end %>
</div>
