<h3>登録情報</h3>
<%= link_to "編集する", edit_customers_path %>

<h4>氏名</h4>
<p><%= @customer.first_name %></p>
<p><%= @customer.last_name %></p>

<h4>フリガナ</h4>
<p><%= @customer.first_name_phonetic %></p>
<p><%= @customer.last_name_phonetic %></p>

<h4>メールアドレス</h4>
<p><%= @customer.email %></p>

<h4>郵便番号</h4>
<p><%= @customer.postcode %></p>

<h4>電話番号</h4>
<p><%= @customer.tel %></p>