<div class="container">
	<h3 style="margin-bottom: 20px;"><span class="head-text">マイページ</span></h3>
	<div class="row">
		<div class="col-lg-7">
		<div style="margin-bottom: 20px;">
			<span style="font-weight: bold; font-size: 20px;">登録情報</span>
		    <%= link_to "編集する", edit_customers_path(@customer), data: {"turbolinks" => false},
		    	class:"btn btn-primary", style:"padding:5px 20px;" %>
		    <%= link_to edit_customer_password_path(@customer) do %>
		   		<span class="btn btn-primary" ,style="padding:5px 20px;">パスワード変更</span>
		   	<% end %>
		</div>

		<table class="table">
			<tr>
				<td class="table-active">氏名</td>
				<td><%= @customer.first_name %><%= @customer.last_name %></td>
			</tr>
			<tr>
				<td class="table-active">フリガナ</td>
				<td><%= @customer.first_name_phonetic %><%= @customer.last_name_phonetic %></td>
			</tr>
			<tr>
				<td  class="table-active">郵便番号</td>
				<td><%= @customer.postcode %></td>
			</tr>
			<tr>
				<td  class="table-active">住所</td>
				<td><%= @customer.address %></td>
			</tr>
			<tr>
				<td  class="table-active">電話番号</td>
				<td><%= @customer.tel %></td>
			</tr>
			<tr>
				<td  class="table-active">メールアドレス</td>
				<td><%= @customer.email %></td>
			</tr>
		</table>
		<div style="margin-bottom: 5px">
		<span style="font-weight: bold; font-size: 20px;margin-right: 20px;">配送先</span>
	    <%= link_to customers_shippings_path do %>
	    	<span class="btn btn-primary", style="padding:5px 20px;">一覧を見る</span>
	    <% end %>
	    </div><br>

		<span style="font-weight: bold; font-size: 20px;">注文履歴</span>
		<%= link_to customers_orders_path do %>
			<span class="btn btn-primary", style="padding:5px 20px;">一覧を見る</span>
		<% end %>
		</div>
		<div class="col-lg-5"></div>
	</div>
</div>
