<h1>注文情報確認</h1>
<br>
<br>
<table>
	<tr>
		<th>商品名</th>
		<th>単価</th>
		<th>数量</th>
		<th>小計</th>
		<th>送料</th>
    <th>800</th>

	</tr>
  <div>
    <h2>支払い方法</h2>
		<% if @payment_method = true %>
		 <p>クレジットカード</p>
		<% else %>
	   <p>銀行振込</p>
    <% end %>
		 <%= @order.address %>
		 <%= @order.postcode %>
		 <%= @order.name %>
  </div>
	<div>
		<% @sum = 0 %>
		<% @order_products.each do |order_product| %>
		<td><%= attachment_image_tag order_product.product, :product_image, format: 'jpeg', size: "100x100" %></td>
		<tr>
			<td><%= order_product.product.name %></td>
			<td><%= (order_product.product.price * 1.1).to_i %>円</td>
			<td><%= order_product.count %></td>
			<td><%= (order_product.product.price * 1.1).to_i * order_product.count.to_i %>円</td>
				<% @sum += order_product.product.price * 1.1 * order_product.count.to_i %>
		</tr>
		<% end %>
	</div>

	<%= form_with(url:orders_path,  local: true) do |f| %>
    <%= f.hidden_field :name, value: @order.name %>
		<%= f.hidden_field :address, value: @order.address %>
		<%= f.hidden_field :postcode, value: @order.postcode %>
		<%= f.hidden_field :payment_method, value: @payment_method %>
		<%= f.hidden_field :total_products_cost, value: @sum %>
    <%= f.submit "購入確定" %>
  <% end %>
</table>
<br>
