<h1>注文情報入力</h1>
<br>
<br>
<table>
	<tr>
		<th>商品名</th>
		<th>単価</th>
		<th>数量</th>
		<th>小計</th>
		<th>送料</th>
    <th>800</th>

	</tr>
  <div>
    <h2>支払い方法</h2>
    <%= @payment %>
  </div>
		<% @current_customer.oreder.cart_item.each do |cart_item| %>
		<tr>
			<td></td>
			<td><%= cart_item.product.name %></td>
			<td><%= (cart_item.product.price).to_i %>円</td>
			<td><%= cart_item.count %></td>
			<td><%= (cart_item.total_price).to_i %>円</td>
		</tr>
		<% end %>


</table>
<br>
<span>  </span><%= link_to '購入確定', root_path, :class => 'btn' %><span>
