<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h3 style="background-color: #EEEEEE; margin-top:50px;"> 注文履歴一覧 </h3>
		</div>
	</div>
<table class="table">
	<thead class="thead-light">
		<tr>
			<th>注文日</th>
			<th>配送先</th>
			<th>注文商品</th>
			<th>支払金額</th>
			<th>ステータス</th>
			<th>注文詳細</th>

		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>

			<td><%= order.created_at.strftime('%Y/%m/%d')%>
			</td>

			<td>
				<%= order.postcode %><br>
				<%= order.address %><br>
				<%= order.name %>
			</td>

			<td>
				<% order.order_details.each do |order_detail| %>
				<%= order_detail.product.name %><br>
				<% end %>
			</td>

			<td>
				<%= order.total_products_cost + order.postage %>円
			</td>

			<td><%= order.order_status %></td>

			<td><%= link_to "表示する", customers_order_path(order), class:'btn btn-primary' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

