<h1>注文情報入力</h1>

<%= form_with(model: order, local: true) do |form| %>
<h1>支払方法</h1>
 <label><%= f.radio_button :payment_method, "クレジットカード" %> クレジットカード</label>
 <label><%= f.radio_button :payment_method, "銀行振込" %> 銀行振込</label>
<br>
    <!--  現住所 -->
  <div class="field">
   <label><%= f.radio_button :address, "customer.address" %> ご自身の住所</label>
        <%= @customer.address.postcode %>
  </div>
    <!-- セレクトボックス  -->
  <div class="field">
   <label><%= f.radio_button :address, "shippings.address" %> 登録済住所から選択</label>
          <%= f.collection_select customer, :address, customers :address, :address %>
  </div>
   <!-- 郵便番号フォーム -->
  <div class="field">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postcode %>
  </div>
  <!-- 住所フォーム -->
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_area :address %>
  </div>
  <!-- 宛名フォーム -->
  <div class="field">
    <%= f.label :宛名 %>
    <%= f.text_field :name %>
  </div>
<br>
  <div class="actions">
    <%= f.submit '確認画面' %>
  </div>
<% end %>
