<h1>注文情報入力</h1>

<%= form_with(url:orders_confirm_path, local: true) do |form| %>
<h1>支払方法</h1>
 <label><%= form.radio_button :payment_method, :true %> クレジットカード</label>
 <label><%= form.radio_button :payment_method, :false %> 銀行振込</label>
<br>
    <!--  現住所 -->
  <div class="field">
   <label><%= form.radio_button  :addresses ,"1" %>ご自身の住所</label>
          <%= @customer.address %>

  </div>
    <!-- セレクトボックス  -->
  <div class="field">
   <label> <%= form.radio_button :addresses , "2" %> 登録済住所から選択</label>
           <%= form.collection_select(:select_address, @customer_address, :id, :view_shipping) %>

  </div>
   <!-- 郵便番号フォーム -->
  <div class="field">
    <lebel>
      <%= form.radio_button  :addresses ,"3" %>
      新しいお届け先
    </lebel>
    <%= form.label :郵便番号 %>
    <%= form.text_field :postcode %>
  </div>
  <!-- 住所フォーム -->
  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_area :address %>
  </div>
  <!-- 宛名フォーム -->
  <div class="field">
    <%= form.label :宛名 %>
    <%= form.text_field :name %>
  </div>
<br>
  <div class="actions">
    <%= form.submit '確認画面' %>
  </div>
<% end %>
