<div class="container">
	<div class="row">
		<div class="col-xs-3">
      <h3 style="margin-bottom:30px;"><span class="head-text">注文履歴詳細</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <strong>注文情報</strong>
        <table class="table table-bordered">
            <tr>
              <th class="table-active">注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d')%>
              </td>
            </tr>

            <tr>
              <th class="table-active">配送先</th>
              <td><%= @order.postcode %><br>
                  <%= @order.address %><br>
                  <%= @order.name %>
              </td>
            </tr>

            <tr>
              <th class="table-active">支払方法</th>
              <td>
                <%if @order.payment_method == true %>
									クレジットカード
								<% else %>
							   		銀行振込
						   		<% end %>
              </td>
            </tr>

            <tr>
              <th class="table-active">ステータス</th>
              <td><%= @order.order_status %></td>
            </tr>
        </table>
    </div>

    <div class="col-lg-4">
      <strong>請求情報</strong>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="table-active">商品合計</th>
              <td><%= @order.total_products_cost %></td>
            </tr>

            <tr>
              <th class="table-active">配送料</th>
              <td><%= @order.postage %></td>
            </tr>

            <tr>
              <th class="table-active">ご請求額</th>
              <td><%= @order.total_products_cost.to_i + @order.postage.to_i %></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
  <strong>注文内容</strong>
    <table class="table table-bordered">
      <thead class="thead-light">
		    <tr>
			   <th>商品</th>
			   <th>単価（税込）</th>
			   <th>個数</th>
			   <th>小計</th>
		    </tr>
	    </thead>
	    <tbody>
        <% @order_details.each do |order_detail| %>
		    <tr>
			   <td><%= order_detail.product.name %> </td>
			   <td><%= (order_detail.product.price * 1.1).to_i %></td>
			   <td><%= order_detail.count %></td>
			   <td><%= (order_detail.product.price * order_detail.count * 1.1).to_i %></td>
		    </tr>
        <% end %>
	     </tbody>
    </table>
</div>
