<div class="container">
	<div class="row">
		<%= render "products/genre_sidebar", genres: @genres %>
		<div class="col-lg-10">
			<div class="top-image">
				<div class="top-text">
					<p>
						ようこそ、NaganoCakeへ！<br>
						このサイトは、ケーキ販売のECサイトになります。<br>
						会員でない方も商品の閲覧はできますが、<br>
						購入には会員登録が必要になります。
					</p>
				</div>
			</div>
			<h3 style="padding: 30px 0;font-weight: bold">オススメ商品</h3>
			<div class="products">
			  <% @products.shuffle.first(4).each do |product| %>
				  <% if product.genre.is_active == "有効" %>
						<div class="product-content"><!-- 4つごとに折り返し-->
							<div class="product-block">
								<%= link_to product_path(product) do %>
									<%= attachment_image_tag product, :product_image,
										format:"jpg",fallback:"top_page.jpg",
										class:"product-image" %>
								<% end %>
								<p><%= product.name %></p>
								<p>￥<%= product.price %>円</p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<a href="/products", style="float: right; padding: 10px 0;">
				もっと見る>
			</a>
		</div>
	</div>
</div>
