<div class="container">
  <h3 style="margin-bottom:30px;"><span class="head-text">商品編集</span></h3>
  <%= form_with(url: admin_product_path, model: @product, method: :patch, local: true) do |f| %>
    <div class="row">
      <div class="col-lg-4">
        <%= attachment_image_tag(@product, :product_image, class: "product-image-admin") %>
        <%= f.attachment_field :product_image, style:"margin-top:20px;" %>
      </div>
      <div class="col-lg-6 offset-lg-1">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-3">
              <p>商品名　　</p>
            </div>
            <div class="col-lg-9">
              <%= f.text_field :name, autocomplete: "off", style:"width:300px" %>
            </div>
          </div>

          <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-3">
              <p>商品説明　</p>
            </div>
           <div class="col-lg-9" >
             <%= f.text_area :introduction, autocomplete: "off",rows:"5", style:"width:300px" %>
           </div>
          </div>

            <div class="row" style="margin-bottom: 10px;">
              <div class="col-lg-3">
                <p>ジャンル　</p>
              </div>
              <div class="col-lg-9">
                  <%= f.collection_select :genre_id, Genre.all,
                     :id, :name, include_blank: "-- 選択してください --" ,style:"width:300px:" %>
              </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
              <div class="col-lg-3">
                <p>税抜価格　</p>
              </div>
              <div class="col-lg-9">
                <%= f.text_field :price, autocomplete: "off" ,style:"width:300px" %>円
              </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
              <div class="col-lg-3">
                <p>販売<br>ステータス</p>
              </div>
              <div class="col-lg-9">
                  <%= f.select :is_active, Product.is_actives.keys,
                    include_blank: "-- 選択してください --" %>
              </div>
            </div>
        </div>
    </div>
    <div style="float: right" >
      <%= f.submit "変更を保存", class:"btn btn-primary", style:"padding: 10px 30px;" %>
    </div>
  <% end %>
</div>