<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<div class="genre_index", style="border:1px solid black;">
				<p style="border-bottom:1px solid black;text-align: center;font-weight: bold">
					ジャンル検索
				</p>
				<p>以下ジャンル一覧をeach do で表示</p>
				<!--以下予定している構文コメントアウト
					@genres.each do |genre|
					 genre.name
					end
				-->
				<p>仮：ケーキ</p>
				<p>仮：焼き菓子</p>
				<p>仮：プリン</p>
				<p>仮：キャンディ</p>
			</div>
		</div>
		<div class="col-lg-10">
			<h3 style="padding-bottom: : 30px">商品一覧
				<span style="font-size: 15px">
					(全<%= @products.count %>件)
				</span>
			</h3>
			<div class="products">
				<% @products.each do |product| %>
					<div class="product-content"><!-- 4つごとに折り返し-->
						<div class="product-block">
							<%= link_to product_path(product) do %>
								<%= attachment_image_tag product, :product_image, format:"jpg",
									fallback:"top_page.jpg", class:"product-image" %>
							<% end %>
							<p><%= product.name %></p>
							<p><%= product.price %>円</p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
